body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
    background-color: #bdd4ff;
}

#nickname-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nickname-header {
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin: 0 auto;
    color: #2e57ab;
}

#nickname-input {
    box-sizing: border-box;
    display: block;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    border-radius: 13px;
    background-color: #e5eeff;
    border: none;
    margin: 50px auto 20px auto;
    font-family: "Rubik", sans-serif;
    width: 30vw;
    height: 55px;
    color: #4277db;
}

#nickname-input::placeholder {
    color: #77a6ff;
}

#nickname-submit {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    position: relative;
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    padding: 10px 35px;
    background-color: #77a6ff;
    border: none;
    border-radius: 13px;
    color: white;
    height: 55px;
}

#ply-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 50vh;
    padding: 100px;
    box-sizing: border-box;
}

.ply-div {
    display: inline-block;
}

.ply-nick {
    display: inline-block;
    font-size: 40px;
    padding: 0;
}

@media only screen and (max-width: 754px) {
    #nickname-header {
        font-size: 40px;
    }

    #nickname-input {
        width: 75vw;
        height: 40px;
        font-size: 18px;
        border-radius: 10px;
        margin-top: 40px;
    }

    #nickname-submit {
        height: 40px;
        font-size: 18px;
        border-radius: 10px;
    }
}
